.main {
    background-color: #92AA9E;
    width: auto;
    height: 320px;
    border-radius: 10px;
    border: 2px solid #4E464A;
}

.title{
    text-align: center;
    margin: 2px;
    color: #4E464A;
    font-family:cursive;
}

.main_inside{
    width: 90%;
    height: 88%;
    margin: 0 auto;
    
}

.textarea{
    resize: none;
    border-radius:10px ;
    width: 100%;
    height: 260px;
    font-size: 24px;
    font-family:cursive;
}