.App {
    background-color: #DDDCCA;
    width: 100vw;
    height: 100%;
}
.App_inside{
    display: block;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.App_wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 1%;
    grid-template-areas: 
    "TextHolder Options"
    "Result Result"
    "Gistogramma Gistogramma";
    
    padding: 20px;
    border-radius:20px ;
}

.author{
    margin-top: 10px;
    display: block;
}